html {
	box-sizing: border-box;
  font: 100%/1.4 "Libre Baskerville", italic;
  text-align: center;
	color: #222;
}

*, *::before, *::after {
	box-sizing: inherit;
}

article {
	max-width: 47em;
	margin: 0 auto;
}

p {
  font-size: 1rem;
  text-align: left;
	text-indent: 1.3em;
	margin: 0;
}

.chapter-num {
  font-size: 1rem;
	display: block;
}

h1 {
  background-color: #259f95;
  padding: 1.5em;
  margin: 0;
  border-radius: 10px;
  width: 100%;
}

header {
  color: #ffffff;
  text-align: left;
}

footer {
  font-size: 0.75rem;
  background-color:  #259f95;
  color: #ffffff;
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 10px;
	font-style: italic;
}

header + p::first-line {
	font-style: italic;
	color: #1e7c74;
}

img {
	width: 100%;
	display: block;
}


.colon {
	display:none;
}

body {
	margin: 0;
}
